/* Estilo base */
@font-face { font-family: 'MerriweatherSans'; src: url('../fonts/MerriweatherSans-Regular.ttf'); }
@font-face { font-family: 'MerriweatherSans-Bold'; src: url('../fonts/MerriweatherSans-Bold.ttf'); }
@font-face { font-family: 'MerriweatherSans-ExtraBold'; src: url('../fonts/MerriweatherSans-ExtraBold.ttf'); }
@font-face { font-family: 'MerriweatherSans-Italic'; src: url('../fonts/MerriweatherSans-Italic.ttf'); }
@font-face { font-family: 'MerriweatherSans-Light'; src: url('../fonts/MerriweatherSans-Light.ttf'); }
@font-face { font-family: 'MerriweatherSans-Medium'; src: url('../fonts/MerriweatherSans-Medium.ttf'); }
@font-face { font-family: 'MerriweatherSans-SemiBold'; src: url('../fonts/MerriweatherSans-SemiBold.ttf'); }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #22212C;
  color: #aca9bb;
  font-size: 14px;
  font-family: MerriweatherSans;
  margin: 0;
}
a {
  color: #aca9bb;
  text-decoration: none;
}
/* ================================================================================================ */
/* Mobile-First Properties */
/* ================================================================================================ */

/* SIDEBAR */
sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
sidebar .card {
  background: #302F3D;
  border-radius: 20px;
  width: 250px;
  margin: 5px;
  margin-top: 10px;
  text-align: center;
  box-shadow: 10px 5px 5px #00000054;
}
/* PROFILE */
sidebar .card:nth-child(1){
  margin-top: 20px;
}
.profile img {
  width: 150px;
  border-radius: 50%;
  border: 4px solid #00ae74;
  margin-top: 10px;
}
.profile h3 {
  color: #aca9bb;
}
.profile h5 {
  font-family: MerriweatherSans-Light;
  color: #aca9bb;
}
/* SOCIAL */
.icon {
  filter: invert(99%) sepia(0%) saturate(170%) hue-rotate(292deg) brightness(118%) contrast(90%);
  width: 14px;
}
.social .media {
  display: flex;
  align-items: center;
  font-size: 10px;
  padding-top: 10px;
  padding-left: 20px;
}
.social .media:nth-child(1) {
  padding-top: 15px;
}
.social .media:nth-last-child(1) {
  padding-bottom: 15px;
}
.social .media img {
  padding-right: 10px;
}

/* BIO */
sidebar .card:nth-child(3){
  flex: 1;
}
.bio_text {
  font-size: 10px;
  padding: 15px;
  text-align: left;
  line-height: 1.2;
}

/* CONTAINER */
container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
container .card {
  background: #302F3D;
  border-radius: 20px;
  width: 250px;
  margin: 5px;
  margin-top: 10px;
  text-align: center;
  box-shadow: 10px 5px 5px #00000054;
}
container h5 {
  flex-basis: 60%;
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 10px;
}
container h5::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 12px;
  background: linear-gradient(89.97deg, #009688 0.03%, #4caf50 99.97%);
  margin-right: 5px;
}

/* TITLE */
container .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
container .title_text {
  font-size: 12px;
  padding: 5px;
  padding-left: 10px;
}
container .title_icon {
  display: flex;
  align-items: center;
  font-size: 8px;
  padding: 5px;
  padding-left: 20px;
}
container .title_icon img {
  width: 12px;
  padding-right: 20px;
  padding-left: 5px;
}

/* FORMATION */
container .education {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
container .education_card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: auto;
  gap: 5px;
}
container .education_card .institute {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  flex-basis: 30%;
  font-size: 10px;
}
container .education_card .year {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-basis: 100%;
  font-size: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
}

/* EXPERIENCE */
container .experience {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
container .experience_card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: auto;
  gap: 5px;
}
container .experience_card h5 {
  flex-basis: 60%;
}
container .experience_card .institute {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  flex-basis: 30%;
  font-size: 10px;
}
container .experience_card .year {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-basis: 100%;
  font-size: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
}
container .experience_card .description {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-basis: 100%;
  font-size: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
}
container .experience_card .technologies {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-basis: 100%;
  font-size: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
}
container .experience_card .tech {
  background: #00ae74;
  color: #000;
  border-radius: 10px;
  padding: 3px;
  font-size: 8px;
}

/* PROJECTS */
container .projects {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
container .project_card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: auto;
  gap: 5px;
}
container .project_card .project_img {
  flex-basis: 25%;
  border-radius: 50%;
  width: 70px;
  padding-left: 10px;
  padding-top: 10px;
}
container .project_card .role {
  text-align: left;
  padding-left: 10px;
  flex-basis: 45%;
  font-size: 12px;
}
container .project_card .year {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-basis: 45%;
  font-size: 12px;
  text-align: left;
}
container .project_card .description {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-basis: 100%;
  font-size: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
}
container .project_card .technologies {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-basis: 100%;
  font-size: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  text-align: left;
}
container .project_card .tech {
  background: #00ae74;
  color: #000;
  border-radius: 10px;
  padding: 3px;
  font-size: 8px;
}

/* FOOTER */
footer {
  display: flex;
  margin-top: auto;
  height: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  flex: 1;
}



@media (min-width: 768px) {
  body {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  sidebar {
    align-items: flex-end;
    flex: 1;
  }
  container {
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    flex: 2;
  }
  container h5 {
    flex-basis: 50%;
  }
  container .card {
    width: 230px;
  }
  container .title, .education, .experience, .projects {
    width: 750px;
  }
  container .education {
    flex-direction: row;
  }
  container .experience {
    flex-wrap: wrap;
    flex-direction: row;
  }
  container .projects {
    flex-wrap: wrap;
    flex-direction: row;
  }
  footer {
    flex-basis: 100%;
  }
}
