/* Estilo base */
@font-face { font-family: 'MerriweatherSans'; src: url('../fonts/MerriweatherSans-Regular.ttf'); }
@font-face { font-family: 'MerriweatherSans-Bold'; src: url('../fonts/MerriweatherSans-Bold.ttf'); }
@font-face { font-family: 'MerriweatherSans-ExtraBold'; src: url('../fonts/MerriweatherSans-ExtraBold.ttf'); }
@font-face { font-family: 'MerriweatherSans-Italic'; src: url('../fonts/MerriweatherSans-Italic.ttf'); }
@font-face { font-family: 'MerriweatherSans-Light'; src: url('../fonts/MerriweatherSans-Light.ttf'); }
@font-face { font-family: 'MerriweatherSans-Medium'; src: url('../fonts/MerriweatherSans-Medium.ttf'); }
@font-face { font-family: 'MerriweatherSans-SemiBold'; src: url('../fonts/MerriweatherSans-SemiBold.ttf'); }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #22212C;
  color: #f2f2f2;
  font-family: MerriweatherSans;
  margin: 0;
}
/* Mobile-First Properties */

/* SIDEBAR */
sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* PROFILE */
sidebar .card:nth-child(1){
  flex: 0 200px;
}
.profile {
  background: #302F3D;
  border-radius: 20px;
  width: 250px;
  margin: 15px;
  text-align: center;
  box-shadow: 10px 5px 5px #00000054;
}
.profile img {
  width: 150px;
  border-radius: 50%;
  border: 4px solid #00ae74;
  margin-top: 10px;
}
.profile h3 {
  color: #837E9F;
}
.profile h5 {
  font-family: MerriweatherSans-Light;
  color: #837E9F;
}

sidebar .card:nth-child(2){
  flex: 2;
}
sidebar .card:nth-child(3){
  flex: 1;
}
sidebar .card:nth-child(4){
  flex: 3;
}

/* CONTAINER */
container {
  flex: 2;
  display: flex;
  flex-direction: column;
  border: 1px dotted pink;
}
container .card:nth-child(1){
  flex: 1;
}
container .card:nth-child(2){
  flex: 2;
}
container .card:nth-child(3){
  flex: 1;
}
container .card:nth-child(4){
  flex: 3;
}


@media (min-width: 1024px) {

  body {
    flex-direction: row;
  }

}

/* FOOTER */
footer {
  display: flex;
  margin-top: auto;
  height: 2rem;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 1px dotted red;
}
