/* Estilo base */
@font-face { font-family: 'MerriweatherSans'; src: url('../fonts/MerriweatherSans-Regular.ttf'); }
@font-face { font-family: 'MerriweatherSans-Bold'; src: url('../fonts/MerriweatherSans-Bold.ttf'); }
@font-face { font-family: 'MerriweatherSans-ExtraBold'; src: url('../fonts/MerriweatherSans-ExtraBold.ttf'); }
@font-face { font-family: 'MerriweatherSans-Italic'; src: url('../fonts/MerriweatherSans-Italic.ttf'); }
@font-face { font-family: 'MerriweatherSans-Light'; src: url('../fonts/MerriweatherSans-Light.ttf'); }
@font-face { font-family: 'MerriweatherSans-Medium'; src: url('../fonts/MerriweatherSans-Medium.ttf'); }
@font-face { font-family: 'MerriweatherSans-SemiBold'; src: url('../fonts/MerriweatherSans-SemiBold.ttf'); }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #22212C;
  color: #aca9bb;
  font-family: MerriweatherSans;
  margin: 0;
}
a {
  color: #aca9bb;
  text-decoration: none;
}
/* ================================================================================================ */
/* Mobile-First Properties */
/* ================================================================================================ */

/* SIDEBAR */
sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
sidebar .card {
  background: #302F3D;
  border-radius: 20px;
  width: 250px;
  margin: 5px;
  margin-top: 10px;
  text-align: center;
  box-shadow: 10px 5px 5px #00000054;
}
sidebar .card:nth-child(1) {
  margin-top: 20px;
}
/* PROFILE */
sidebar .card:nth-child(1){
  flex: 1;
}
.profile img {
  width: 150px;
  border-radius: 50%;
  border: 4px solid #00ae74;
  margin-top: 10px;
}
.profile h3 {
  color: #aca9bb;
}
.profile h5 {
  font-family: MerriweatherSans-Light;
  color: #aca9bb;
}
/* SOCIAL */
sidebar .card:nth-child(2){
  flex: 1;
}
.social .icon {
  filter: invert(80%) brightness(119%) contrast(119%);
  width: 14px;
}
.social .media {
  display: flex;
  align-items: center;
  font-size: 10px;
  padding-top: 10px;
  padding-left: 20px;
}
.social .media:nth-child(1) {
  padding-top: 15px;
}
.social .media:nth-last-child(1) {
  padding-bottom: 15px;
}
.social .media img {
  padding-right: 10px;
}

/* BIO */
sidebar .card:nth-child(3){
  flex: 1;
}
.bio_text {
  font-size: 10px;
  padding: 15px;
  text-align: left;
  line-height: 1.2;
}





sidebar .card:nth-child(4){
  flex: 3;
}

/* CONTAINER */
container {
  flex: 2;
  display: flex;
  flex-direction: column;
  border: 1px dotted pink;
}
container .card:nth-child(1){
  flex: 1;
}
container .card:nth-child(2){
  flex: 2;
}
container .card:nth-child(3){
  flex: 1;
}
container .card:nth-child(4){
  flex: 3;
}


@media (min-width: 1024px) {

  body {
    flex-direction: row;
  }

}

/* FOOTER */
footer {
  display: flex;
  margin-top: auto;
  height: 2rem;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
